body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:gray;
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.a {
    /*display: inline-block;*/
    padding: 35px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    /*background-color: #4CAF50;*/
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    float: left;
}

    .a:hover {
        color: wheat;
        /*background-color: #3e8e41*/
    }

    .a:active {
        color: wheat;
        /*background-color: #3e8e41;*/
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.myTd {
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

#leftcolumn, #rightcolumn {
    /*border: 1px solid white;*/
    float: left;
    height: 600px;
   
    min-height: 450px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

#leftcolumn {
    width: 50%;
    background-size: 540px 600px;
    /*background-image: url("../img/organizator.jpg");*/
    /*background-color: lightcoral;*/
    vertical-align: middle;
}

#rightcolumn {
    width: 50%;
    background-size: 560px 600px;
    /*background-image: url("../img/client.jpg");*/
    vertical-align: middle;
}

a{
    color:white;
}

