@{
    ViewBag.Title = "About";
}
<img src="~/img/about.jpg" style="height:300px; width:1100px"/>

<h3>Cine suntem?</h3>
@*<p>O echipa tanara, unita de pasiunea pentru muzica, si impinsi de viziunea de a face concertele accesibile tuturor si organizarea lor o treaba cat mai usoara. 
Stim cat de dificila poate fi uneori organizarea unui concert, cu toata gestioarea si administrarea biletelor, de aceea am inceput acest proiect pentru a intampina nevoile si problemele cu care se confrunta organizatorii.Aceasta , impreuna cu viziunea de a avea acces usor la concerte peste tot in imprejurimi, la doar cateva click-uri distanta ne motiveaza in realizarea acestei platforme usor de folosit si adresata tuturor.</p>*@
<br />
<br />
<p>
    Un eveniment live reprezinta in viata multora o experienta unica si spontana, insa drumul spre destinatie poate fii cateodata problematic!
    Nu ai intampinat vreodata dificultati la achizitionarea unui bilet pentru un eveniment mult asteptat? Daca macar odata in viata ai intampinat aceasta dilema, ai venit unde trebuie! Echipa noastra a facut tot posibilul pentru ati crea un minim de confort cu problema in cauza.
 </p>



<p>   
    O echipa tanara, unita de pasiunea pentru muzica, si impinsi de viziunea de a face concertele accesibile tuturor si organizarea lor o treaba cat mai usoara.
    Stim cat de dificila poate fi uneori organizarea unui concert, cu toata gestioarea si administrarea evenimentului, de aceea am inceput acest proiect pentru a intampina nevoile si problemele cu care se confrunta organizatorii de la administrarea si impartirea biletelor la accesul persoanelor in zona destinata.


    Aceasta , impreuna cu viziunea de a avea acces usor la concerte peste tot in imprejurimi, la doar cateva click-uri distanta ne motiveaza in realizarea acestei platforme usor de folosit si adresata tuturor.

</p>