
@{
    ViewBag.Title = "Client";
}

<div>
    <img src="~/img/client2.jpg" alt="" style="height:300px; width:1110px" />
</div>
<br />

<div>
    <table align="center" class="table table-dark">
        <tr>
            <td>
                <img src="~/img/concert2.jpg" alt="" style="height:150px; width:150px; vertical-align:middle " />
            </td>
            <td>
                <p>
                    Data: marți, 16 aprilie 2019<br />
                    Ora de incepere: 20:00<br />
                    Loc: Sala Palatului, București 27422<br />
                    Organizator: Fundația Copii în Dificultate
                </p>
            </td>

        </tr>

        <tr>
            <td>
                <img src="~/img/concert1.jpg" alt="" style="height:150px; width:150px; vertical-align:middle " />
            </td>
            <td>

                <p>
                    Data: vineri, 10 mai 2019- duminică, 12 mai 2019<br />
                    Ora de incepere: 12:00<br />
                    Loc: Muzeul Satului Bănățean, Timișoara 27433

                </p>

            </td>

        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Rezervare", "Home")">
                    Rezervati locul
                </a>
            </td>
        </tr>
    </table>
</div>




