
@{
    ViewBag.Title = "Client";
}



<div>
    <img src="~/img/client2.jpg" alt="" style="height:300px; width:1100px" />
 </div>
    <a href="@Url.Action("Organizator", "Home")">

        &nbsp;&nbsp;
        <br />
        <br />
        <div>

            <img src="~/img/concert2.jpg" alt="" style="height:150px; width:150px; vertical-align:middle " />

            <span>
                Data: marți, 16 aprilie 2019
                Ora de incepere: 20:00
                Loc: Sala Palatului, București 27422
                Organizator: Fundația Copii în Dificultate
            </span>

        </div>


    </a>
    <a href="@Url.Action("Organizator", "Home")">

        &nbsp;&nbsp;
        <br />
        <br />
        <div>

            <img src="~/img/concert1.jpg" alt="" style="height:150px; width:150px; vertical-align:middle " />
            <span>
                <span>Data: vineri, 10 mai 2019- duminică, 12 mai 2019</span>
                <span> Ora de incepere: 12:00</span>
                <span>Loc: Muzeul Satului Bănățean, Timișoara 27433</span>

            </span>

        </div>



    </a>
   

 