@{
    ViewBag.Title = "Contact";
}
<img src="~/img/about.jpg" style="height:300px; width:1100px" />
<h3>Ai intrebari?</h3>
<p>Iti stam la dispozitie, pentru orice informatie.Ne poti contacta pe numarul de telefon:<abbr title="Phone">0356 245 129</abbr> </p>



<address>
    sau ne poti lasa un email pe adresa <a href="mailto:contact@doiteasy.ro">contact@doiteasy.ro</a><br />

</address>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />

</address>