@model IEnumerable<WebApplication1.Models.Evenimente>

@{
    ViewBag.Title = "Home Page";
}



    <div id="wrapper">


                <div id="leftcolumn">
                    <a href="@Url.Action("Organizator", "Home")">
                        <img src="~/img/organizator.jpg" alt="" style="height:600px; width:550px"/>
                    </a>

                </div>


                <div id="rightcolumn">
                    <a href="@Url.Action("Client", "Home")">
                        <img src="~/img/client.jpg" style="height:600px; width:550px"/>
                    </a>

                </div>

        </div>


