

@{
    ViewBag.Title = "Rezervare";
}

<h2 style="text-align:center">Rezervare</h2>

<div>
    <table align="center" class="table table-dark">
       
        <tr>
            <td>
                Nume 
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Prenume
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Adresa
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Numar Telefon:
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
       <tr>
            <td style="text-align:center;" colspan="2">
                <button type="submit">Submit</button>
            </td>
        </tr>

    </table>
   
</div>

